/* KANBOARD PLUGIN - CUSTOMIZER CSS FILE */

/*------ PAGE HEADER ------*/
.logo > a > img {vertical-align:middle;} /* This aligns the logo certically to the text */

/*------ LOGIN FORM ------*/
.form-login > a > img {
	display: block;
	margin: auto;
	padding-top: 10px
} /* This aligns the logo to the text.  Adds padding to top of logo. */

/*------ LOGIN PAGE-SPECIFIC STYLES MOVED TO logintop.php SO THEY WON'T AFFECT OTHER PARTS OF KANBOARD ------*/


/*------ PLUGIN SETTINGS PAGE ------*/
.form-help {margin-top: 5px;} /* This gives line spacing above the help text */

code {
	margin: 0;
	padding: 2px 0.4em;
	background-color: rgba(27, 31, 35, 0.32);
	border-radius: 3px;
	color: #000;
	font-family: Tahoma;
	font-size: 95%!important;
	letter-spacing: 1px;
} /* This styles the url link examples */

.login-link-block > label {
	font-weight: bold;
	margin-bottom: 5px;
} /* This is to highlight the title fields */

.panel-heading {
	margin: -2px -25px;
	float: right;
	font-size: 1.2em;
} /* This adds a heading area to each section */

.panel-title {
	margin-top: 0;
	font-weight: bold;
} /* This is the title text for the heading area */

.links-title {
	margin: -2px 25px;
} /* This is the title text for the links heading area, styled uniquely as the type is fieldset */

.upload-link {
	float: left;
	list-style: outside none none;
	width: auto;
	display: inline-block;
	margin: 0px 10px;
} /* This places the upload link on the same line as the remove link */

.remove-link {
	float: left;
	list-style: outside none none;
	width: auto;
	display: inline-block;
	margin: 0px 10px;
} /* This places the upload link on the same line as the remove link */

.upload-link > a > i {
	color: green;
} /* This colours the upload icon to green */

.remove-link > a > i {
	color: red;
} /* This colours the upload icon to red */

/* Style the buttons that are used to open and close the accordion panel */
.login-accordion {
    background-color: rgba(136,136,136,0.4);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.login-accordion:hover {
    background-color: rgba(136,136,136,0.2);
}

/* Style the accordion panel. Note: hidden by default */
.login-accordian-panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
