/* KANBOARD PLUGIN - CUSTOMIZER CSS FILE */

/*------ PAGE HEADER ------*/
.logo > a > img {vertical-align:middle;} /* This aligns the logo certically to the text */

/*------ LOGIN FORM ------*/
.form-login > a > img {
	display: block;
	margin: auto;
	padding-top: 10px
} /* This aligns the logo to the text.  Adds padding to top of logo. */

/*------ LOGIN PAGE-SPECIFIC STYLES MOVED TO logintop.php SO THEY WON'T AFFECT OTHER PARTS OF KANBOARD ------*/


/*------ PLUGIN SETTINGS PAGE ------*/
.form-help {margin-top: 5px;} /* This gives line spacing above the help text */

code {
	margin: 0;
	padding: 2px 0.4em;
	background-color: rgba(27, 31, 35, 0.32);
	border-radius: 3px;
	color: #000;
	font-family: Tahoma;
	font-size: 95%!important;
	letter-spacing: 1px;
} /* This styles the url link examples */

.login-link-block > label {
	font-weight: bold;
	margin-bottom: 5px;
} /* This is to highlight the title fields */

.panel-heading {
	margin: -2px -25px;
	float: right;
	font-size: 1.2em;
} /* This adds a heading area to each section */

.panel-title {
	margin-top: 0;
	font-weight: bold;
} /* This is the title text for the heading area */

.links-title {
	margin: -2px 25px;
} /* This is the title text for the links heading area, styled uniquely as the type is fieldset */

.upload-link {
	float: left;
	list-style: outside none none;
	width: auto;
	display: inline-block;
	margin: 0px 10px;
} /* This places the upload link on the same line as the remove link */

.remove-link {
	float: left;
	list-style: outside none none;
	width: auto;
	display: inline-block;
	margin: 0px 10px;
} /* This places the upload link on the same line as the remove link */

.upload-link > a > i {
	color: green;
} /* This colours the upload icon to green */

.remove-link > a > i {
	color: red;
} /* This colours the upload icon to red */

/* Style the buttons that are used to open and close the accordion panel */
.login-accordion {
    font-weight: bold;
    background-color: rgba(136,136,136,0.7);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    color: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px 0px rgba(70, 70, 70, 0.10);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .login-accordion:hover {
    background-color: #f5f5f5;
    color: #777777;
    transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
.login-accordian-panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

/* 
* Short classes 
* m - for classes that set margin
* p - for classes that set padding
* t - for classes that set margin-top or padding-top
* b - for classes that set margin-bottom or padding-bottom
* l - for classes that set margin-left or padding-left
* r - for classes that set margin-right or padding-right
* number(5) - for classes that set the margin or padding 
*/

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-15 {
	margin-left: 15px;
}

.ml-20 {
	margin-left: 20px;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-15 {
	margin-right: 15px;
}

.mr-20 {
	margin-right: 20px;
}

.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-15 {
	padding-left: 15px;
}

.pl-20 {
	padding-left: 20px;
}

.pr-5 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-20 {
	padding-right: 20px;
}
